* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: cover;
    background-position: center;
}

.image-container-home {
    display: grid;
}

.top-nav,
.cover-image,
.text-block {
    grid-column: 1;
    grid-row: 1;
}

.image-property {
    grid-column: 1;
    grid-row: 1;
    object-fit: fill;
    object-position: center;
    width: 1900px;
    height: 960px;
    border-radius: 0px 0px 100px 100px;
}

.container {
    max-width: 500px;
    color: white;
    background-color: rgb(144, 238, 144, 0.5);
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px 40px;
    margin-top: 110px;
}