.mymargin {
    padding: 0px;
    margin: 0px;
}

.container {
    height: max-content;
    width: max-content;
}

.login {
    margin: 30px;
    margin-top: 60px;
    background-color: rgb(26, 54, 91);
    background-blend-mode: soft-light;
    padding: 20px;
    opacity: 0.8;
    color: white;
}

.login h2 {
    text-align: center;
}

.credential input {
    height: 1.5em;
}

.login #loginbutton {
    opacity: 0.5;
    width: 100%;
    height: 1.8em;
    color: white;
    background-color: rgb(22, 47, 80);
    border: 1px solid white
}

.login #loginbutton:hover {
    opacity: 1;
    background-color: rgb(22, 47, 80);
    /* border: 1px solid rgb(22, 47, 80); */
    /* background-color: snow; */
    color: white;
    transition: 0.3s ease-in-out;
}

.a .signup {
    color: seashell;
}