* {
    padding: 0px;
    margin: 0px;
}

.head-tag {
    float: right;
}

.head-tag a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    /* color: snow; */
    color: white;
    border: 4px, solid, white;
    padding: 20px;
    margin-right: 10px;
}

.head-tag a:hover {
    background-color: snow;
    color: steelblue;
    transition: 0.4s ease-in-out;
}

.head-tag :active {
    background-color: snow;
    color: steelblue;
}