* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 500px;
    color: white;
    background-color: rgb(144, 238, 144, 0.5);
    padding-top: 40px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 100px 40px;
    margin-top: 110px;
}