*{
    padding: 0px;
    margin: 0px;
}
/* 
margin{
  padding: 0px;
  margin: 0px;
} */

body{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

header{
    background-color: rgb(135, 206, 235,0.5);
    height: 6em;
}

header :hover{
    opacity: 1;
}

.head-tag{
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.head-tag a{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: snow;
    border: 4px,solid,white;
    padding: 20px;
    margin-right: 10px;
}

.head-tag a:hover{
    background-color: snow;
    color:steelblue;
    transition: 0.4s ease-in-out;
    opacity: 1;
}

* {box-sizing: border-box}

/* Add padding to containers */
.container {
  /* padding: 80px; */
  margin-top: 60px;
  margin-left: 250px;
  margin-right: 250px;
  /* padding-left: 150px; */
}

/* Full-width input fields */
input{
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: #4CAF50;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  /* background-color: #f1f1f1; */
  text-align: center;
}