* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: cover;
    background-position: center;
    /* background-repeat: no-repeat; */
    height: 660px;
}

header {
    background-color: rgb(135, 206, 235, 0.5);
    height: 6em;
}

img {
    margin-left: 20px;
    margin-top: 10px;
}

.intro {
    padding: 100px;
    margin: 100px;
    box-sizing: content-box;
    border-radius: 50px;
    background-color: blue;
}

.head-tag {
    float: right;
    margin-top: 40px;
    margin-right: 20px;
}

.head-tag a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-decoration: none;
    color: snow;
    border: 4px, solid, white;
    padding: 20px;
    margin-right: 10px;
}

.head-tag a:hover {
    background-color: snow;
    color: steelblue;
    transition: 0.4s ease-in-out;
}

.multi-item-carousal {
    position: relative;
    background-color: rgb(135, 206, 235, 0.5);
}